<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/overrides.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <p><img src="{{site.logo | relative_url}}" alt="Logo" /></p>
        {% endif %}

        <p class="left-align">{{ site.description | default: site.github.project_tagline }}</p>

        <p class="view"><a href="https://arxiv.org/abs/2512.19442" target="_blank"><img src="assets/img/arxiv-logomark-small@2x.png" style="width: 16px; height: auto; vertical-align: middle;"> arXiv preprint</a></p>

        <p class="view"><a href="#todo" target="_blank"><img src="assets/img/GitHub_Invertocat_Black.png" style="width: 16px; height: auto; vertical-align: middle; margin-top: -3px;"> Code and Checkpoints (coming soon)</a></p>

        <p class="view"><a href="#citation">📖 Bibtex citation</a></p>

        <p class="view"><a href="https://www.youtube.com/watch?v=ezXzPia3EVs">🎬 Demo Video (joint SE + BWE)</a></p>

        <hr>
        <p class="view jump-top">⤵️ Jump to Results for:</p>
        <p class="view jump"><a href="#se">Speech Enhancement</a></p>
        <p class="view jump"><a href="#derev">Dereverberation</a></p>
        <p class="view jump"><a href="#lyra">Codec Postfiltering (Lyra V2)</a></p>
        <p class="view jump"><a href="#bwe">Bandwidth Extension</a></p>
        <p class="view jump"><a href="#pr">STFT Phase Retrieval</a></p>
        <p class="view jump"><a href="#mel">Mel Vocoding</a></p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>